{% extends "layout.html" %}
{% block title %}Are you Lost?{% endblock %}


{% block content %}
    <section class="navy vh-70 bg-washed-red baskerville cover">
        <header class="pb6 lh-copy w-80 w-50-l center flex flex-column items-center">
            <h1 class="f1 f-headline-l code mb3 fw9 dib tracked-tight dim">404</h1>
            <h1 class="f1-l fw8 ttu">Oh no, bad luck!</h1>
            <h2 class="f1-l fw1 ttc">The page you’re looking for could have been deleted or never have existed.</h2>
            <img class="" src="{{ url_for('static', filename='img/ship.png')}}" alt="error page">
        </header>
    </section>
{% endblock %}
