{% extends "layout.html" %}
{% block title %}About{% endblock %}

{% block content %}
<section class="navy avenir pt5-ns pt2-m w-100 flex flex-wrap flex-cloumn-ns items-center">
  <img class="w-40-ns w-100-m center" src="{{ url_for('static', filename='img/family.jpg') }}" alt="avatar image">
  <div class="ttc pa2 w-40-ns w-80-m center measure-wide-ns">
  <h1 class="ttu f3 f2-l lh-title">meet the cruz family</h1>
  <p class="f4 f5-l lh-copy">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium eos minus laborum reprehenderit sunt quasi molestiae odio saepe maxime sint corrupti iusto dolores commodi voluptate, asperiores labore dolorem. Aperiam, ipsum.</p>
</div>

<div class="w-80-m w-70-l pa2 center mv6-ns pt3-l navy">
  <h1 class="ttu f3 f2-l lh-title pt4 mt0 bt b--black-10">About Us</h1>
  <p class="ttc f4 f5-l lh-copy">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut at maiores, accusantium, provident fugit magnam delectus fuga cumque libero id consequuntur deleniti soluta incidunt voluptas sunt dignissimos ullam explicabo dolores pariatur facere, quisquam dolorum ipsum inventore quasi! Veniam, magnam esse.</p>
</div>
</section>
{% endblock %}

