{% extends "layout.html" %}
{% block title %}Call (704)723-3455{% endblock %}

{% block content %}
<article class="navy mw10 ph3 tc pv4 pv7-l pv6-ns bg-orange mb5">
  <h1 class="avenir center mw8-ns fw4 fw9-l f-headline-l f1 f1-l lh-title mt0 mb3">I'm Building High Quality Fences.
  </h1>
  <h2 class="fw4 f4 lh-copy mt0 mb3">
    This will change things. And we want you to be involved. This text needs to
    be longer for testing sake.
  </h2>
  <p class="fw4 f5 mt0 mb3">
    to see some of my work.
  </p>
  <div>
    <a class="f6 br-pill navy no-underline ba grow pv2 ph3 dib"
      href="{{ url_for('work')}}">
      See my work
    </a>
  </div>
</article>


<section class="w-80 tc ttu tc f3 b center flex flex-wrap justify-around">
  <a href="#" style="background-image: url(static/img/reno.jpg" class="w-30-l w-100 ma2 grow link w5 dt h5 hide-child br2 cover bg-center">
  <span class="tc f3 white dtc v-mid w-100 h-100 child bg-black-40 pa5">
    Viny Fence
  </span>
  </a>

  <a href="#" style="background-image: url(static/img/wire.jpg" class="w-60-l w-100 ma2 grow link w5 dt h5 hide-child br2 cover bg-center">
  <span class="white dtc v-mid w-100 h-100 child bg-black-40 pa5">
    Viny Fence
  </span>
  </a>

  <a href="#" style="background-image: url(static/img/fence.jpg" class="w-60-l ma2 w-100 grow link w5 dt h5 hide-child br2 cover bg-center">
  <span class="white dtc v-mid w-100 h-100 child bg-black-40 pa5">
    Viny Fence
  </span>
  </a>
  <a href="#" style="background-image: url(static/img/fence1.jpg" class="w-30-l w-100 ma2 grow link w5 dt h5 hide-child br2 cover bg-center">
  <span class="white dtc v-mid w-100 h-100 child bg-black-40 pa5">
    Viny Fence
  </span>
  </a>
    
</section>

<div class="b w-80 center flex justify-around items-center flex-wrap">
    <ul class="list pl0 measure w-50-l w-100">
      <li class="lh-copy pv3 ba bl-0 bt-0 br-0 b--dotted b--navy bg-animate grow hover-bg-near-white"><a href="#" class="navy ttu f4 f5-l no-underline">Ornament and aluminum Fencing</a></li>
      <li class="lh-copy pv3 ba bl-0 bt-0 br-0 b--dotted b--navy bg-animate grow hover-bg-near-white"><a href="#" class="navy ttu f4 f5-l no-underline">commercial fencing</a></li>
      <li class="lh-copy pv3 ba bl-0 bt-0 br-0 b--dotted b--navy bg-animate grow hover-bg-near-white"><a href="#" class="navy ttu f4 f5-l no-underline">Vinil Fencing</a></li>
      <li class="lh-copy pv3 ba bl-0 bt-0 br-0 b--dotted b--navy bg-animate grow hover-bg-near-white"><a href="#" class="navy ttu f4 f5-l no-underline">Farm Fencing</a></li>
      <li class="lh-copy pv3 ba bl-0 bt-0 br-0 b--dotted b--navy bg-animate grow hover-bg-near-white"><a href="#" class="navy ttu f4 f5-l no-underline">Residential Fencing</a></li>
      <li class="lh-copy pv3 ba bl-0 bt-0 br-0 b--dotted b--navy bg-animate grow hover-bg-near-white"><a href="#" class="navy ttu f4 f5-l no-underline">Product Information</a></li>
    </ul>
    <img src="{{ url_for('static', filename='img/wood.jpg') }}" class="mw-100 w-50-l"> 
  </div>

<section class="bg-near-white pt4 pb4 pt6-l pb6-l dt w-100">
  <div class="dtc v-mid cover ph3 ph3-m ph4-ns">
    <h1 class="navy mw8-ns center fw4 fw9-l f-headline f2 f1-l lh-title mt0 mb3 mesure">A Night Taking Photos at San Francisco’s Spooky Ruins of the Sutro Baths</h1>
    <h2 class="navy f6 fw6 black mw8-ns center">A story by Nancy Drew</h2>
  </div>
</section>
{% endblock %}

