{% extends "layout.html" %}
{% block title %}Are you Lost?{% endblock %}


{% block content %}
    <section class="vh-70 bg-washed-blue baskerville cover">
        <header class="tc ph5 lh-copy">
            <h1 class="f1 f-headline-l code mb3 fw9 dib tracked-tight blue dim">404</h1>
            <h1 class="tc f1-l fw8">Oh no, bad luck!</h1>
            <h2 class="tc f1-l fw1">The page you’re looking for could have been deleted or never have existed.</h2>
            <img class="w-80" src="{{ url_for('static', filename='img/ship.png')}}" alt="error page">
        </header>
    </section>
{% endblock %}
