{% extends "layout.html" %}
{% block title %}About{% endblock %}

{% block content %}
<section class="avenir pt5-ns pt2-m w-100 flex flex-wrap flex-cloumn-ns items-center">
  <img class="w-40-ns w-100-m center" src="{{ url_for('static', filename='img/family.jpg') }}" alt="avatar image">
  <div class="pa2 w-40-ns w-80-m center measure-wide-ns">
  <h1 class="f2 lh-title">meet the peralta's family</h1>
  <p class="f4 lh-copy">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium eos minus laborum reprehenderit sunt quasi molestiae odio saepe maxime sint corrupti iusto dolores commodi voluptate, asperiores labore dolorem. Aperiam, ipsum.</p>
</div>

<div class="w-80-m w-70-l mw-60-ns center br2 ba b--black-20 pa2 mt5-ns pt3-l bg-white">
  <h1 class="f2 lh-title">Our History</h1>
  <p class="f4 lh-copy">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut at maiores, accusantium, provident fugit magnam delectus fuga cumque libero id consequuntur deleniti soluta incidunt voluptas sunt dignissimos ullam explicabo dolores pariatur facere, quisquam dolorum ipsum inventore quasi! Veniam, magnam esse.</p>
</div>
</section>
{% endblock %}

