{% extends "layout.html" %}
{% block title %}Contact{% endblock %}


{% block content %}
<section class="cover center bg-light-gray pt6-l pb6-l">
    <div class="flex flex-column flex-row-l w-90 mw8-ns center pt3 pb3">

        <div class="ttu flex justify-center items-center br0-m br--right-ns bg-gold pa3 w-100 w-40-l">
            <h1 class="f6 f3-l">contact</h1>
        </div>
        <div class="br0-m br--left-ns bg-white pa3 w-100">
            
            <main class="pa3 pa1-m pa5-ns">
                    <h1 class="ttu">hire us</h1>
                    <p class="ttc f4 lh-copy measure">
                      Typography has one plain duty before it and that is to convey information
                      in writing. No argument or consideration can absolve typography from this
                      duty. A printed work which cannot be read becomes a product without
                      purpose.
                    </p>
                    <a class="ttc f6 grow no-underline br-pill ba ph3 pv2 mb2 dib mid-gray" href="#0">e-mail us</a>
                 </main>
                 
        </div>
    </div>
</section>
{% endblock %}

