{% extends "layout.html" %}
{% block title %}Contact{% endblock %}


{% block content %}
<section class="navy cover center bg-light-gray pt6-l pb6-l">
    <div class="flex flex-column flex-row-l w-90 mw8-ns center pt3 pb3">

        <div class="ttu flex justify-center items-center br0-m br--right-ns bg-orange pa3 w-100 w-40-l">
            <h1 class="f4 f3-l">contact Us</h1>
        </div>
        <div class="br0-m br--left-ns bg-white pa3 w-100">
            
            <main class="flex-column pa3 pa1-m pa5-ns">
                    <h1 class="ttu f4 f3-l">Free Estimates.</h1>
                    <p class="ttc f4 lh-copy measure">
                      
                      Call:<a href="tel:[704-000-0230]" class="link navy bg-animate hover-bg-orange br2 pa2">704-000-0230</a>
                    </br>Gastonia,NC

                    <ul class="list pl0 f6 lh-copy">
                        <li>Monday: 7AM - 5PM</li>
                        <li>Tuesday: 7AM - 5PM</li>
                        <li>Wednesday: 7AM - 5PM</li>
                        <li>Thursday: 7AM - 5PM</li>
                        <li>Friday: 7AM - 5PM</li>
                        <li>Saturday: 7AM - 2PM</li>
                    </ul>
                    </p>
                
                    <a class="ttc f6 grow no-underline br-pill ba ph3 pv2 mb2 dib navy" href="#0">e-mail us</a>
                 </main>
                 
        </div>
    </div>
</section>
{% endblock %}

