{% extends "layout.html" %}
{% block title %}Fence in Kings Mountain, NC{% endblock %}

{% block content%}
<section class="navy center w-80 w-60-l">
    <h1 class="lh-title bb bw2 pb4">Fencing Contractor in Kings Mountain, NC.</h1>
    <p class="f4 lh-copy">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat</p>

    <div class="flex  flex-nowrap-l flex-wrap items-center pt3 pt6-ns justify-between">
        <div class="db dtc-ns v-mid-ns">
          <img src="http://tachyons.io/img/super-wide.jpg" alt="A bright blue sky" class="w-100 w-90-l" />
        </div>
        <div class="">
          <p class="f4 lh-copy">
            For desktop, this text is vertically aligned middle, no matter what the height of the image is.
            On mobile, this is a paragraph below an image.
          </p>
        </div>
      </div>
</section>
{% endblock %}