{% extends "layout.html" %}
{% block title %}See Our Product |{% endblock %}

{% block content %}

  <section class="cf w-100 pa2-ns">
    <article class="fl w-100 w-50-m  w-25-ns pa2-ns">
      <div class="aspect-ratio aspect-ratio--1x1">
        <img src="{{ url_for('static', filename='img/fence1.JPG') }}" 
        class="db aspect-ratio--object" />
      </div>
      <a href="#0" class="navy ph2 ph0-ns pb3 link db">
        <h3 class="f5 f4-ns mb0 ttu">ornamenta fence</h3>
        <h3 class="f6 f5 fw4 mt2 ttc">open front porches ornamental fences</h3>
      </a>
    </article>

    <article class="fl w-100 w-50-m  w-25-ns pa2-ns">
      <div class="aspect-ratio aspect-ratio--1x1">
        <img src="{{ url_for('static', filename='img/wood.jpg') }}" 
        class="db aspect-ratio--object" />
      </div>
      <a href="#0" class="ph2 ph0-ns pb3 link db">
        <h3 class="f5 navy f4-ns mb0 black-90 ttu">chain link fence</h3>
        <h3 class="f6 navy f5 fw4 mt2 black-60 ttc">high quality guard fence</h3>
      </a>
    </article>

    <article class="fl w-100 w-50-m  w-25-ns pa2-ns">
      <div class="aspect-ratio aspect-ratio--1x1">
        <img src="{{ url_for('static', filename='img/reno.jpg') }}" 
        class="db aspect-ratio--object" />
      </div>
      <a href="#0" class="ph2 ph0-ns pb3 link db">
        <h3 class="f5 navy f4-ns mb0 black-90 ttu">aluminum fence</h3>
        <h3 class="f6 navy f5 fw4 mt2 black-60 ttc">open front porches ornamental fences</h3>
      </a>
    </article>

    <article class="fl w-100 w-50-m  w-25-ns pa2-ns">
      <div class="aspect-ratio aspect-ratio--1x1">
        <img src="{{ url_for('static', filename='img/wire.jpg') }}" 
        class="db aspect-ratio--object" />
      </div>
      <a href="#0" class="ph2 ph0-ns pb3 link db">
        <h3 class="f5 navy f4-ns mb0 black-90 ttu">vinil fence</h3>
        <h3 class="f6 navy f5 fw4 mt2 black-60 ttc">open front porches ornamental fences</h3>
      </a>
    </article>

    <article class="fl w-100 w-50-m  w-25-ns pa2-ns">
      <div class="aspect-ratio aspect-ratio--1x1">
        <img src="{{ url_for('static', filename='img/blue.jpg') }}" 
        class="db aspect-ratio--object" />
      </div>
      <a href="#0" class="ph2 ph0-ns pb3 link db">
        <h3 class="f5 navy f4-ns mb0 black-90 ttu">wooden fence</h3>
        <h3 class="f6 navy f5 fw4 mt2 black-60 ttc">open front porches ornamental fences</h3>
      </a>
    </article>

    <article class="fl w-100 w-50-m  w-25-ns pa2-ns">
      <div class="aspect-ratio aspect-ratio--1x1">
        <img src="{{ url_for('static', filename='img/fence.jpg') }}" 
        class="db aspect-ratio--object" />
      </div>
      <a href="#0" class="ph2 ph0-ns pb3 link db">
        <h3 class="f5 navy f4-ns mb0 black-90 ttu">hand rails</h3>
        <h3 class="f6 navy f5 fw4 mt2 black-60 ttc">great for porches ornamental</h3>
      </a>
    </article>
    
  </section>
{% endblock %}
