{% extends "layout.html" %}
{% block title %}See My Work{% endblock %}

{% block content %}
  <section class="cf w-100 pa2-ns">
    <article class="fl w-100 w-50-m  w-25-ns pa2-ns">
      <div class="aspect-ratio aspect-ratio--1x1">
        <img style="background-image:url(http://mrmrs.github.io/images/0007.jpg);" 
        class="db bg-center cover aspect-ratio--object" />
      </div>
      <a href="#0" class="ph2 ph0-ns pb3 link db">
        <h3 class="f5 f4-ns mb0 black-90">Title of piece</h3>
        <h3 class="f6 f5 fw4 mt2 black-60">Subtitle of piece</h3>
      </a>
    </article>
    <article class="fl w-100 w-50-m  w-25-ns pa2-ns">
      <div class="aspect-ratio aspect-ratio--1x1">
        <img style="background-image:url(http://mrmrs.github.io/images/0008.jpg);" 
        class="db bg-center cover aspect-ratio--object" />
      </div>
      <a href="#0" class="ph2 ph0-ns pb3 link db">
        <h3 class="f5 f4-ns mb0 black-90">Title of piece</h3>
        <h3 class="f6 f5 fw4 mt2 black-60">Subtitle of piece</h3>
      </a>
    </article>
    <article class="fl w-100 w-50-m  w-25-ns pa2-ns">
      <div class="aspect-ratio aspect-ratio--1x1">
        <img style="background-image:url(http://mrmrs.github.io/images/0009.jpg);" 
        class="db bg-center cover aspect-ratio--object" />
      </div>
      <a href="#0" class="ph2 ph0-ns pb3 link db">
        <h3 class="f5 f4-ns mb0 black-90">Title of piece</h3>
        <h3 class="f6 f5 fw4 mt2 black-60">Subtitle of piece</h3>
      </a>
    </article>
    <article class="fl w-100 w-50-m  w-25-ns pa2-ns">
      <div class="aspect-ratio aspect-ratio--1x1">
        <img style="background-image:url(http://mrmrs.github.io/images/0010.jpg);" 
        class="db bg-center cover aspect-ratio--object" />
      </div>
      <a href="#0" class="ph2 ph0-ns pb3 link db">
        <h3 class="f5 f4-ns mb0 black-90">Title of piece</h3>
        <h3 class="f6 f5 fw4 mt2 black-60">Subtitle of piece</h3>
      </a>
    </article>
    <article class="fl w-100 w-50-m  w-25-ns pa2-ns">
      <div class="aspect-ratio aspect-ratio--1x1">
        <img style="background-image:url(http://mrmrs.github.io/images/0011.jpg);" 
        class="db bg-center cover aspect-ratio--object" />
      </div>
      <a href="#0" class="ph2 ph0-ns pb3 link db">
        <h3 class="f5 f4-ns mb0 black-90">Title of piece</h3>
        <h3 class="f6 f5 fw4 mt2 black-60">Subtitle of piece</h3>
      </a>
    </article>
    <article class="fl w-100 w-50-m  w-25-ns pa2-ns">
      <div class="aspect-ratio aspect-ratio--1x1">
        <img style="background-image:url(http://mrmrs.github.io/images/0012.jpg);" 
        class="db bg-center cover aspect-ratio--object" />
      </div>
      <a href="#0" class="ph2 ph0-ns pb3 link db">
        <h3 class="f5 f4-ns mb0 black-90">Title of piece</h3>
        <h3 class="f6 f5 fw4 mt2 black-60">Subtitle of piece</h3>
      </a>
    </article>
    <article class="fl w-100 w-50-m  w-25-ns pa2-ns">
      <div class="aspect-ratio aspect-ratio--1x1">
        <img style="background-image:url(http://mrmrs.github.io/images/0013.jpg);" 
        class="db bg-center cover aspect-ratio--object" />
      </div>
      <a href="#0" class="ph2 ph0-ns pb3 link db">
        <h3 class="f5 f4-ns mb0 black-90">Title of piece</h3>
        <h3 class="f6 f5 fw4 mt2 black-60">Subtitle of piece</h3>
      </a>
    </article>
    <article class="fl w-100 w-50-m  w-25-ns pa2-ns">
      <div class="aspect-ratio aspect-ratio--1x1">
        <img style="background-image:url(http://mrmrs.github.io/images/0014.jpg);" 
        class="db bg-center cover aspect-ratio--object" />
      </div>
      <a href="#0" class="ph2 ph0-ns pb3 link db">
        <h3 class="f5 f4-ns mb0 black-90">Title of piece</h3>
        <h3 class="f6 f5 fw4 mt2 black-60">Subtitle of piece</h3>
      </a>
    </article>
  </section>
{% endblock %}
